.machine {
  position: absolute;
  top: 50px;
  left: calc(50% - 150px);
  width: 300px;
  height: 560px;
  color: #ffffff;
  background-color: #84dcc6;
  border-radius: 10px;
  perspective: 300px;
}

.glass {
  width: 260px;
  height: 460px;
  background: linear-gradient(
    to bottom right,
    rgba(150, 200, 255, 0.2),
    rgba(150, 200, 255, 0.7)
  );
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  z-index: 5;
}

.glass:after {
  position: absolute;
  content: "";
  top: -120px;
  right: -420px;
  width: 500px;
  height: 660px;
  transform: rotate(-20deg);
  background: linear-gradient(
    to bottom,
    rgba(150, 180, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
}

.inner {
  width: 260px;
  height: 460px;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.tray-inner {
  width: 260px;
  height: 50px;
  background-color: black;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 5px;
}

.menu {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.menuItem {
  height: 154px;
}

.ant-list-item {
  height: 50px;
  text-align: center;
  align-items: flex-start !important;
  border: initial !important;
  font-size: 24px;
}

.backToMenu,
.ant-list-item,
.ant-list-item-meta-title,
.ant-list-item-meta-description,
.ant-list-empty-text {
  color: #ffffff !important;
  cursor: default;
}

.orderIcon {
  color: #ffffff !important;
  font-size: 32px;
}

.order-sum button {
  color: #000000;
}

.ant-list-item-action {
  margin-left: 4px !important;
}

.ant-input-number {
  width: 50px !important;
}

.ant-list-item-action > li {
  color: white !important;
}

.ant-input-number-handler-wrap {
  opacity: 100 !important;
}

.margin-l-4 {
  margin-left: 4px;
}

.margin-b-8 {
  margin-bottom: 8px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payIcon {
  font-size: 150px !important;
}

@keyframes blink {
  50% {
    visibility: hidden;
  }
}

.tray-text {
  animation: blink 1s step-end infinite;
}

.order-sum {
}

.order .ant-list-item {
  align-items: center !important;
  height: 60px;
}

.order .ant-list-item-meta {
  align-items: center;
}

.order .ant-list-item-meta-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}

.order .ant-list-item-meta-avatar {
  margin-right: 4px;
}

.order .itemSum {
  flex: 1 0 auto;
}

.order {
  height: 180px;
}

.order,
.menuItem {
  overflow-y: auto;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-g-one {
  flex: 1 0 auto;
}

.font-24 {
  font-size: 24px;
}
.font-32 {
  font-size: 32px;
}

.font-800 {
  font-weight: 800;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.foodDetailsCloseBtn {
  position: absolute;
  top: 54px;
  right: 34px;
  z-index: 1000;
  mix-blend-mode: difference;
}
